body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#top-bar{
    background-color: #333;
}

#titulo-principal{
    margin: 0;
    padding: 20px;
    border-bottom: 8px solid #FD8A24;
    color: white;
    text-align: center; 
    font-size: 25px;
    font-weight: 600;

}

#container{
    margin-left: 20%;
    margin-right: 20%;
}

/*header*/
header{
    margin-left: 10%;
    margin-right: 10%;
}

.img-sociais{
    width: 25px;
    padding: 10px;
}

#titulo-segundario{
    font-weight: 800;
    font-size: 3em;
}

#autor{
    font-weight: 600;
    font-size: 0.8em;
}

#data{
    font-size: 0.6em;
    
}


/*header*/


/*content*/
#content{
    margin-left: 20%;
    margin-right: 20%;
}


.img-content{
    max-width: 100%;
}

span{
    color: #fd8a24;
    font-weight: 600;
    
}

#Descrição_img{
    font-size: 0.7em;
}

#link{
    padding: 20px 0 20px 0;
}



/*content*/







footer{
    height: 100px;
    background-color: #333;
}




/*FAZER OS LINKS*/







/*Fonte: Open Sans (google fonts)
Cores das fontes: #555, #111
Cor dos links: #fd8a24
Cor da top bar e da footer: #333