.post-container{
    margin: 0px auto 0px auto;
    width: 80%;
}

.date{
   color: #008080;
   font-family: Roboto;
}

.post-content{
    font-family: Open Sans;
}

.post{
    margin: 40px;
}


h1{
    font-family: Montserrat;
}
